body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
}

.header {
  background-image: linear-gradient(
      to bottom,
      rgba(245, 251, 252, 0.251),
      rgba(46, 39, 113, 0.616)
    ),
    url("contactus.png");
  /* background: fixed; */
  /* background-image: url("contactus.png"); */
  background-position: center;
  background-position-y: 25%;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 60px 0;
  height: 60vh;
}

.header .logo {
  width: 50px;
  height: auto;
  margin-bottom: 20px;
}

.header h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

.header p {
  font-size: 1.2em;
  margin: 5px 0;
}

.header .btn-primary {
  background-color: #00bfa5;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1em;
  margin-top: 20px;
}

.contact {
  background-color: #f9f9f9;
  text-align: center;
  padding: 60px 0;
}

.contact h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.contact p {
  font-size: 1em;
  margin-bottom: 40px;
}

.contact form {
  max-width: 600px;
  margin: 0 auto;
}

.contact input,
.contact textarea {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact .btn-primary {
  width: 100%;
  padding: 15px;
  font-size: 1.2em;
}

.contact-info {
  text-align: left;
  max-width: 600px;
  margin: 40px auto 0;
}

.contact-info h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.contact-info p {
  margin: 5px 0;
}

.contact-info address {
  margin-top: 20px;
}

.contact-info address p {
  margin: 10px 0;
}
.getStartedButton {
  background-color: #2f2771;
  /* border: 1px solid white; */
  color: white;
  width: 280px;
  height: 50px;
  margin-top: 30px;
}
.getStartedButton:hover {
  background-color: rgba(255, 255, 255, 0.724);
  color: #2f2771;
  border: none;
}
.getStartedButton2, .getStartedButton2:hover {
  background-color: #2f2771;
  color: white;
  width: 100%;
}